.login {
  display: grid;
  place-items: center;
  height: 100vh;
}

.login__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 75px;
  width: 100%;
  max-width: 400px;
  border-radius: 6px;
  box-shadow: 1px 5px 5px -5px rgb(0, 0, 0, 0.5);
}

.login img {
  object-fit: contain;
  width: 100px;
  margin-bottom: 50px;
}

.login__container > .login__button--fb {
  width: 200px;
  background-color: #2e81f4;
  color: #eff2f5;
  font-weight: 500;
}

.login__container > .login__button--fb:hover {
  background-color: #4591fc;
}

.login__container > .login__button--google {
  width: 200px;
  background-color: #f4352e;
  color: #eff2f5;
  font-weight: 500;
  margin-top: 10px;
}

.login__container > .login__button--google:hover {
  background-color: #fc4545;
}
