.messageSender {
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 5px 7px -7px rgb(0, 0, 0, 0.75);
  width: 100%;
}

.messageSender__top {
  display: flex;
  border-bottom: 1px solid #eff2f5;
  padding: 15px;
}

.messageSender__top > form {
  flex: 1;
  display: flex;
}

.messageSender__top > form > input {
  flex: 1;
  outline-width: 0;
  border: none;
  padding: 5px 20px;
  margin: 0 10px;
  border-radius: 999px;
  background-color: #eff2f5;
}

.messageSender__top > form > button {
  width: 100px;
  border-radius: 10px;
  border: none;
  color: gray;
  font-weight: 600;
}

.messageSender__top > form > button.active {
  color: #ffffff;
  background-color: #2e81f4;
  cursor: pointer;
}

.messageSender__bottom {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.messageSender__option {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  padding: 20px;
  color: gray;
}

.messageSender__option > .MuiSvgIcon-root {
  margin-right: 5px;
}

.messageSender__option:hover {
  background-color: #eff2f5;
  border-radius: 20px;
}
